@import '@material/react-button/index.scss';

.icon-only-button {
    min-width: 36px;
    @include mdc-button-horizontal-padding(0);
}

.icon-only-icon {
    margin: 0 !important;
}

.small-hr {
    margin-top: 0;
    margin-bottom: 0;
}