.drawer-card {
    background-color: #373740;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    //display: flex;
    //flex-direction: column;
}

.drawer-card > * {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}