@import '../../../../globalStyles';
@import '@material/react-drawer/index.scss';

.drawer-app-content {
    flex: auto;
    overflow: auto;
}

.drawer {
    background-color: #33333d;
}

.mdc-drawer--dismissible {
    top: auto;
}

.drawer-header {
    margin: 0;
}

.drawer-header-text {
    margin-top: 1rem;
}

.drawer-content {
    padding: 0.5rem;
}

.text-color {
    color: white !important;
}

.text-field-border {
    border-color: #5C7293 !important;
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.select-border:before,
.select-border:after {
    border-bottom-color: #5C7293 !important;
}

.theme-color {
    color: #5C7293 !important;
}

.theme-background-color {
    background-color: #5C7293 !important
}

.theme-background-color-transparent {
    background-color: #5C729354 !important
}