@import '@material/react-layout-grid/index.scss';

.map-page-body {
    max-width: 1200px;
    background-color: #33333d;
    padding: 1rem;
    margin: auto;
    min-height: 100vh;
}

.map-page-container {
    width: 100vw;
    max-width:100%;
    min-height: 100vh;
    align-items: center;
    overflow: hidden;
}

.map-background-image {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 'center';
    //filter: blur(8px);
    //-webkit-filter: blur(8px);
}

.map-card {
    background-color: #373740;
    padding: 1rem;
    margin-bottom: 1rem;
}
