.user-list-drawer {
    background-color: #5a4a56;
    width: 200px;
    position: absolute;
    left: calc(200px + 2rem);
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(160px + 1rem);
}

.text-center {
    text-align: center;
}

.userlist-drawer-header {
    position: sticky;
    top: 0;
    padding: 0.5rem;
    background-color: #5a4a56;
    z-index: 10;
}

.userlist-drawer-content {
    padding: 0.5rem;
}

.badge-container {
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.icon-margin {
    margin-top: 5px;
    cursor: pointer;
}
