@import '@material/react-icon-button/index.scss';

.align-center {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.pull-right {
    margin-left: auto;
}

.open-height {
    height: 160px;
}

.icon-color {
    @include mdc-icon-button-ink-color(white);
}

.title-text {
    margin-top: 12px !important;
    margin-left: 1rem !important;
}
