// GLOBALS
$header: (
  color: white,
  margin: 0,
  font-weight: 400,
);
$mdc-typography-styles-headline1: $header;
$mdc-typography-styles-headline2: $header;
$mdc-typography-styles-headline3: $header;
$mdc-typography-styles-headline4: $header;
$mdc-typography-styles-headline5: $header;
$mdc-typography-styles-headline6: $header;

$mdc-typography-styles-body1: $header;
